.headline:hover .glitch {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: glitch .5s ease-out reverse both 1;
}

@keyframes glitch {
    0% {

        transform: translate(0)
    }

    10% {

        transform: translate(-5px, 5px)
    }

    20% {

        transform: translate(-5px, -5px)
    }

    30% {

        transform: translate(5px, 5px)
    }

    40% {

        transform: translate(5px, -5px)
    }

    50% {

        transform: translate(-5px, 5px)
    }

    60% {

        transform: translate(-5px, -5px)
    }

    70% {

        transform: translate(5px, 5px)
    }

    80% {

        transform: translate(5px, -5px)
    }

    90% {

        transform: translate(-5px, 5px)
    }

    to {

        transform: translate(0)
    }
}