//   .glitch {
//     animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both 6 1s;
//   }
.headline:hover .glitch {
    // font-size: 130px;
    // line-height: 1;
    // font-family: 'Poppins', sans-serif;
    // font-weight: 700;
    // position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // margin: 0;
    // text-decoration: none;
    // color: #fff;
    // animation: glitch .2s cubic-bezier(.25, .46, .45, .94) reverse both 3;
    animation: glitch .5s  ease-out reverse both 1;

    // &:before,
    // &:after{
    //   display: block;
    //   content: '17';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   height: 100%;
    //   width: 100%;
    //   opacity: .8;
    // }
    // &:after {
    //   color: #f0f;
    //   z-index: -2;
    // }
    // &:before {
    //   color: #0ff;
    //   z-index: -1;
    // }
    // &:hover {
    //   &:before {
    //     animation: glitch .3s cubic-bezier(.25, .46, .45, .94) both infinite
    //   }
    //   &:after {
    //     animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both infinite
    //   }
    // }
}

@keyframes glitch {
    0% {

        transform: translate(0)
    }

    10% {

        transform: translate(-5px, 5px)
    }

    20% {

        transform: translate(-5px, -5px)
    }

    30% {

        transform: translate(5px, 5px)
    }

    40% {

        transform: translate(5px, -5px)
    }

    50% {

        transform: translate(-5px, 5px)
    }

    60% {

        transform: translate(-5px, -5px)
    }

    70% {

        transform: translate(5px, 5px)
    }

    80% {

        transform: translate(5px, -5px)
    }

    90% {

        transform: translate(-5px, 5px)
    }
    to {

        transform: translate(0)
    }
}