@import '_normalize';
@import '_main-boilerplate';

:root {
    --pink: #F94F5A;
    --purp: #374A84;
    --navy: #00072D;
    --blue: #001C55;
    --li-blue: #A6E1FA;
    --lav: #a682ff;
    --dk-lav: #715aff;
    --fire: #FB3640;
    --green: #1EFFBC;
    --dk-green: #3ddc97;
    --teal: #17bebb;
    --dk-teal: #004e64;
  }
  #theme-1 {
    --light1: var(--li-blue);
    --light2: var(--lav);
    --light3: var(--dk-lav);
    --light4: white;
    --dark1: var(--purp);
    --dark2: var(--blue);
    --dark3: var(--navy);
    --dark4: black;
    --pop1: var(--fire);
    --pop2: var(--pink);
    --pop3: var(--green);
    --pop4: var(--dk-green);
    --pop5: var(--teal);
    --pop6: var(--dk-teal)
  ;
  }
body {
    font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Staatliches', monospace;
}

.no-webp .street-img {
    background-image: url('/img/background.jpg'), radial-gradient(1000.23px at 24.51% 53.47%, #B722FF 0%, #1EFFBC 100%);
    background-image: linear-gradient(90deg, #B722FF -20%, #1EFFBC), url("/img/background.jpg");
}

.webp .street-img {
    background-image: linear-gradient(90deg, #B722FF -20%, #1EFFBC), url("/img/background.webp");
    // background-image: radial-gradient(#B722FF 0%, #1EFFBC 100%),url('/img/background.webp');

    // background-image: url('/img/background.webp'),radial-gradient(1000.23px at 24.51% 53.47%, #B722FF 0%, #1EFFBC 100%);
}

.street-img {

    background-repeat: no-repeat;
    background-position: top;
    // background-attachment: fixed;
    background-size: cover;
    // height: auto;

    background-blend-mode: color;

}

.background-grad {

    // background: radial-gradient(1000.23px at 24.51% 53.47%, #B722FF 0%, #1EFFBC 100%);

}

.portrait-box {
    grid-row: 1;
    grid-column: 1;
    // background: linear-gradient(45deg, #1EFFBC, #B722FF);

    // width: min-content;

    // outline: 4px solid white;
    //   outline-offset: 15px;
    // overflow: hidden;
    // margin-top: -2em;
    // padding-top: 2em;
    overflow-y: visible;
    overflow-x: hidden;
    overflow: hidden;
    // z-index: 1;
    margin: -2em 1px 1em 1px;

    img {
        max-width: 140%;
        position: relative;
        right: 20%;
        // top: -10%;
        transform: rotate(10deg);
        z-index: 2;
        // mix-blend-mode: hard-light;
        filter: sepia(1) hue-rotate(192deg);
    }
}

.portrait-fade {
    grid-row: 1;
    grid-column: 1;
    // position: absolute;
    width: 100%;
    height: 50%;

    // width: 29vw;
    // height: 50vh;
    z-index: 10;
    background: linear-gradient(190deg, rgba(0, 7, 45, 0) 30%, #B722FF 65%, #1EFFBC 110%);
    // background: linear-gradient(190deg, rgba(0, 7, 45, 0) 30%, white 70%, #1EFFBC 100%);
    mix-blend-mode: normal;
    // transform: rotate(28.52deg);

}


.outside-box {
    // margin-top: 1em;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-column: 2;
    // overflow: hidden;
    background: linear-gradient(45deg, #1EFFBC, #B722FF);
    grid-row: 2 / 3;
    // border: 5px solid white;
    // padding: 1em;
    outline: 4px solid white;
    outline-offset: 15px;
    //   padding-top: 4em;
    z-index: 12;
    align-items: flex-end;
    max-width: 300px;
   
}
@media all and (min-width: 600px){
    .header {
        display: grid;
        min-height: 50vh;
        grid-template-rows: minmax(50px, 1fr) max-content minmax(50px, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 2fr 1fr 3fr 1fr;
        grid-row: 1 / 3;
        grid-column: 1;
        // border: 1px solid orange;
        min-height: 500px;
        // padding: 0 20vmin;
        // filter: blur(1px);
    
    }
}


main {
    background: linear-gradient(180deg, rgba(0, 28, 85, 0) 0%, #001C55 12.15%, #00072D 51.2%);
    //    background: yellow;
    min-height: 50vh;
    // grid-row: 4 / 5;
    // z-index: 10;
    // grid-column: 1;
    grid-row: 2 / 3;
    grid-column: 1;
    width: 100%;
    // border: 1px solid yellow;
    // margin-top: -10px;
}

body {
    // border: 1px solid pink;
    display: grid;
    // grid-gap: 20px;
    grid-template-rows: auto 100px auto auto;
    grid-template-columns: 1fr;
    background: black;
    // min-height: 100vh;
}

.headline {
    grid-row: 2;
    grid-column: 4;
    align-self: center;
    display: grid;
    justify-items: center;
    align-items: center;
    img {
        max-width: 100%;
        margin-bottom:1em;
    }
    a {
        display: block;
        margin: 1em;
        background: var(--teal);
        color: white;
        text-decoration: none;
        padding: .5em 1.3em;
        border-radius: 100px;
        transition: all .2s;
        border: 1px solid var(--teal);
    
    &:hover {
        background: var(--dk-teal);
        border-color: white;
    }}
}

.more {
    grid-row: 4 / 5;
    grid-column: 1;
    background: black;
}

@media all and (max-width: 599px){
    .main {
        min-height: auto;
        grid-row: 5;
    }
    .header {
        display: grid;
        // height: 50vh;
        // grid-template-rows: auto auto/;
        grid-template-rows: 1fr auto 1fr auto auto;
        grid-template-columns: 10vw 10vw 1fr 10vw 10vw;
        grid-row: 1 / 3;
        grid-column: 1;

        // border: 1px solid orange;
        // min-height: 500px;
        // padding: 0 20vmin;
        // filter: blur(1px);
    
    }
    .headline {
        grid-row: 1;
        grid-column: 2 / 5;
        a {
            font-size: .8em;
        }
}
.outside-box {
    grid-row: 3;
    grid-column: 3;
}
}

.coming-soon {
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    h1 {
        align-self: center;
        justify-self: center;
        color: white;
        font-family: 'Staatliches', monospace;
        font-size: 15vw;
        text-align: center;
        line-height: 1em;
        @media all and (max-width: 300px) {
            font-size: 3em;
        }
    }
}